@import '../util';

:host {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: rem(860px);
  min-width: min(100%, #{rem(860px)});
  padding: rem(60px) rem(30px);
}
